<div class="card">
  <div class="card-body">
    <h2 class="card-title"><%= restaurant.name %></h2>
    <p class="card-text"><%= restaurant.address %></p>
    <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
  </div>
</div>
