<h1>Please add a new review for <%=@restaurant.name %>:</h1>

<%= render "form", restaurant: @restaurant, review: @review %>

<%= link_to "Back to overview", restaurants_path, class: "btn btn-secondary" %>
